<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand">
    <%= link_to 'TestGuru', root_path %>
    <%= t('.admin_panel') %>
  </span>

  <div class="nav-admin user">
    <%= t('welcome') %>, <b class='nav-admin user-email'><%= current_user.email %></b> Guru |
    <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
  </div>
</nav>
