<p class="nav user">
  <b> Welcome to <%= link_to 'TestGuru', root_path %></b>
  <% if logged_in? %>
    <b>, <%= current_user.name %> Guru</b><br>
    <%= link_to 'Logout', sessions_delete_path %>
  <% else %>
    <br><%= link_to 'Register', signup_path %> |
    <%= link_to 'Login', login_path %>
  <% end %>
</p>
