<div class="row justify-content-center mt-4"> 
  <div class="col col-md-8">
    <h1><%= t(:header, scope: "tests.index") %></h1>

    <p>
      <%= link_to t(:new, item: Test.model_name.human), new_admin_test_path %>
    </p>

    <table class="table table-borderless">
      <tr>
        <th class="sort-by-title pointer" scope="col">
          <%= Test.human_attribute_name(:title) %>
          <%= octicon 'arrow-up', class: 'text-success'%>
          <%= octicon 'arrow-down', class: 'text-success' %>  
        </th>
        <th scope="col"><%= Test.human_attribute_name(:level) %></th>
        <th scope="col" colspan="3"><%= t(".actions") %></th>
        <th scope="col"><%= t(:question_count, scope: "tests.index") %></th>
      </tr>

      <%= render @tests%>
    </table>
  </div>
</div>
