<p>
  <strong><%= Test.human_attribute_name(:title) %>:</strong>
  <%= @test.title %>
</p>

<p>
  <strong><%= Test.human_attribute_name(:level) %>:</strong>
  <%= @test.level %>
</p>

<p>
  <%= link_to t('new', item: Question.model_name.human), new_admin_test_question_path(@test) %>
</p>

<ol>
  <%= render partial: 'admin/questions/question', collection: @test.questions %>
</ol>

<%= link_to t('edit'), edit_admin_test_path(@test) %> |
<%= link_to t('back'), admin_tests_path %>
