<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <footer>
      <div>
        <p>
          <%= current_year %>, Андрей Пронин, <%= github_url('avpilot', 'test-guru') %><br>
          Приложение TestGuru предназначено для создания, управления и выполнения различных тестов.<br>
          <a href="https://thinknetica.com" target="_blank">Учебный проект в онлайн-школе Thinknetica</a>
        </p>
      </div>
    </footer>
  </body>
</html>
